---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="../blog-placeholder-about.jpg"
>
  <p>
    Hello, My name is Abdelrahman Dwedar, I'm a CS student and a web developer
    interested in vary topics in web development. I'm passionat about this job
    really. Mostly I'm working with backend, yet I can do fairly good frontend
    work. This was my dream, and I'm living every second of it.
  </p>

  <p>
    My most interest is backend technologies, and databases. I'm adored by
    system design as well and its vary choices. Interested in internals of my
    own tools and I strive learning more and more about them.
  </p>

  <p>
    I'll be sharing my opinions and other toughts in this blog, feel free to
    disagree, I'm not a standard. I'll be discussing vary topics even
    psycological areas of our career.
  </p>
</Layout>
